body{
    font-family: 'Poppins', sans-serif;
}
h1{

    font-size: 40px;
    margin-left: 2%;
    padding:1px 10px;
}
.orange-colar{
    color:orange
}
.colar-blue{
    color: blue;
}
.colar-crimson{
    color:crimson;
}
h2{
    color: deeppink;
    margin: 2%;
}
section{
    display: flex;
}
.half-width{
        width:50%;
    
    }
.half-width img{
      width: 80%;
    }
p{
    background-color: hotpink;
    border: 5px double red;
    padding: 5px 15px;
    border-radius: 5px;

    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 30px;
    font-weight: 800;
    border-radius: 5px;
    color: snow;

}

.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}