body{
    font-family: 'Poppins', sans-serif;
}
h1{

    font-size: 40px;
    margin-left: 2%;
    padding:10px 10px;
}
.orange-colar{
    color:orange
}
.colar-blue{
    color: blue;
}
.colar-crimson{
    color:crimson;
}
h2{
    color: deeppink;
    margin: 2%;
}
 .flexible-container{
    display: flex;
    margin-bottom: 100px;
    }

.half-width{
        width:50%;
    
    }
.half-width img{
      width: 80%;
    }
.experiences-aria{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 40px 10px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-radius:10px;

}
p{
    background-color: hotpink;
    border: 5px double red;
    padding: 5px 15px;
    border-radius: 5px;

    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 30px;
    font-weight: 800;
    border-radius: 5px;
    color: snow;

}

.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat ;
    background-position: right;

}
#full-Stack-exp{
   border-left: 7px solid;
   border-image:linear-gradient(green,blue);
   border-image-slice: 1;
   border-radius:10px;

}
#wev-dev-exp{
   border-left: 7px solid;
   border-image:linear-gradient(red,rgb(167, 69, 88));
   border-image-slice: 1;
   border:image-radious 10px;

}
footer h6{
    text-align: center;
    
}
